{% block content %}
  {% if site_name %}
    <a
        class="navbar-brand text-white"
        href="{{ path('<front>') }}"
        title="{{ 'Home'|t }}"
        rel="home"
    >
      {{ site_name }}
    </a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
