/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/*
colors

0a547b - blue navbar etc
126b9a - blue navbar hover
fff - white color on blue bg

818181 -- dark gray footer bg
*/

/* Basics */

div, h1, h2, h3, h4, h5, h6, span, a, p {
  font-family: 'Baloo-Regular';
  font-style: normal;
  font-weight: 400;
}

/* Navigation Top - Site Branding */

#block-campdates {
  float: right;
}

.baloo-red {
  color: #D92B5A
}

.baloo-blue {
  color: #0a547b
}

/*
 * #navbar
 */
#navbar {
}
#navbar.navbar-default .navbar-header {
  border: none;
  background: url(../images/topnav-bg-1.png) center top;
}
#navbar.navbar-default .navbar-header .logo {
  margin: 0;
}
#navbar.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
#navbar.navbar-default .navbar-collapse {
  background: #0a547b;
}
#navbar.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
#navbar.navbar-default .navbar-nav>li>a:hover {
  background: #126b9a;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}


/*
 * banner
 */
#banner {
}
#banner .header-bgc-content {
  background: url(../images/header-bg-1.png) center top no-repeat;
  min-height: 465px;
}
#banner .header-bgc-content .join-now {
  padding: 25px 0;
}
#banner .header-bgc-content .diamond-sponsors {
  background: #0a547be6;
  color: #fff;
}
#banner .header-bgc-content .diamond-sponsors h2 {
  margin: 10px 0;
  text-align: center;
}


/*
 * #main
 */
#main {
}

/*
 * #main-content
 */
#main-content {
  background: url(../images/body-bg-1.png) center top no-repeat;
  min-height: 700px;
  padding: 30px 0;
}

#main-content .schedule {
  background: #0D9FD9;
  padding: 1em;
  margin: 1em;
  border: 5px dashed #0a547b;
  border-radius: 2em;
  min-width: 420px;
  min-height: fit-content;
}

/*
 * #footer-secondary
 */
#footer-secondary {
  background: #818181 url(../images/footer-1-bg-1.png) center top repeat-x;
  min-height: 420px;
  overflow: hidden;
}
#footer-secondary .container {
  position: relative;
}
#footer-secondary .container .half-logo-right {
  position: absolute;
  background: url(../images/footer-1-logo-1.png);
  right: -200px;
  height: 413px;
  width: 409px;
  z-index: 1;
}
#footer-main .container .inner {
  z-index: 10;
}

/*
 * #footer-main
 */
#footer-main {
  background: #0a547b url(../images/pattern-1.png) center top repeat-x;
  min-height: 280px;
  overflow: hidden;
  margin-top: 0;
  border: 0;
}
#footer-main .container {
  position: relative;
}
#footer-main .container .half-logo-left {
  position: absolute;
  background: url(../images/footer-2-logo-1.png);
  left: -200px;
  height: 297px;
  width: 235px;
  z-index: 1;
}
#footer-main .container .inner {
  z-index: 10;
  color: #fff;
}
#footer-main .container .inner a {
  color: #fff;
}


/* 
 * Blocks Related 
 *
 */ 

/* Google Map Container */
.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

.map-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}