/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/*
colors

0a547b - blue navbar etc
126b9a - blue navbar hover
fff - white color on blue bg

818181 -- dark gray footer bg
*/

/* Basics */
html, body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

/* Navigation Top - Site Branding */

.baloo-red {
  color: #D92B5A
}

.baloo-blue {
  color: #0a547b
}

.logo img {
	max-height: 72px;
	margin: 2px;
}


/*
 * #navbar
 */
#navbar {
}
#navbar.navbar-default .navbar-header {
  border: none;
  background: url(../images/topnav-bg-1.png) center top;
}
#navbar.navbar-default .navbar-header .logo {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
#navbar.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}

@media (max-width: 768px) {
  .navbar-default .container {
	display: inline-block;
  }
}

#navbar.navbar-default .navbar-collapse {
  background: #0a547b;
}
#navbar.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
#navbar.navbar-default .navbar-nav>li>a:hover {
  background: #126b9a;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #0a547b;
}


.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #d92a5a;
    background: #d92a5a;
    margin: 26px;
}

/*.navbar-default .navbar-toggle .icon-bar {
    background-color: #0a547b;
    font-size: 1em;
}
.navbar-default .navbar-toggle {
	border-color: #0a547b;
	margin: 26px;
}*/

.camp-dates {
    margin-top: 10px;
}

/*
 * banner
 */
#banner {
}
#banner .header-bgc-content {
  background: url(../images/header-bg-1.png) center top no-repeat;
  min-height: 640px;
}
#banner .header-bgc-content .join-now {
  padding: 25px 0;
}
#banner .header-bgc-content .diamond-sponsors {
  background: #0a547be6;
  color: #fff;
}
#banner .header-bgc-content .diamond-sponsors h2 {
  margin: 10px 0;
  text-align: center;
}


/*
 * #main
 */
#main {
}

/*
 * #main-content
 */
#main-content {
  background: url(../images/body-bg-1.png) center top no-repeat;
  min-height: 700px;
  padding: 30px 0;
}

#main-content {
  background-color: rgba(255,255,255 0.5);
}

/*
 * #footer-secondary
 */
#footer-secondary {
  background: #818181 url(../images/footer-1-bg-1.png) center top repeat-x;
  min-height: 420px;
  overflow: hidden;
}
#footer-secondary .container {
  position: relative;
}
#footer-secondary .container .half-logo-right {
  position: absolute;
  background: url(../images/footer-1-logo-1.png);
  right: -200px;
  height: 413px;
  width: 409px;
  z-index: 1;
}
#footer-main .container .inner {
  z-index: 10;
}

.region.region-content {
   background: rgba(255,255,255, 0.75);
}


/*
 * #footer-main
 */
#footer-main {
  background: #0a547b url(../images/pattern-1.png) center top repeat-x;
  min-height: 280px;
  overflow: hidden;
  margin-top: 0;
  border: 0;
}
#footer-main .container {
  position: relative;
}
#footer-main .container .half-logo-left {
  position: absolute;
  background: url(../images/footer-2-logo-1.png);
  left: -200px;
  height: 297px;
  width: 235px;
  z-index: 1;
}
#footer-main .container .inner {
  z-index: 10;
  color: #fff;
}
#footer-main .container .inner a {
  color: #fff;
}


/* 
 * Blocks Related 
 *
 */ 

/* Google Map Container */
.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

.map-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

section#block-venuemap {
  margin-bottom: 10px;
}

section#block-venuemap img {
  margin: 0 auto;
  padding: 10px;
}


.venue-address a {
  color: rgb(249, 99, 124);
}


/* Homepage Specific */

.content h2,
.content h1 {
    color: #E12B4A;
    text-transform: uppercase;
    text-shadow: 2px 1px #0D9FD9;
}

.content h2 {
  font-size: 3em;
  margin-top: 30px;
}

/* Schedule Section */ 
#main-content .schedule {
  background: #0D9FD9;
  padding: 15px;
  margin: .5em;
  border: 5px dashed #0a547b;
  border-radius: 15px;
  min-width: fit-content;
  min-height: fit-content;
  color: white;
}

#main-content .schedule h3 {
  color: #E12B4A;
  text-shadow: 2px 1px #0a547b;
}

/* Why Drupal Camp Is For You */
.field--item:nth-of-type(odd) .layout--twocol-section {
  flex-direction: row-reverse;
}

.block-field-blocknodepagefield-why-drupalcamp .layout__region.layout__region--second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;
}

.block-field-blocknodepagefield-why-drupalcamp .layout__region--second {
  background: url(../images/background_grey.png) center center;
  background-repeat: repeat-x;
  background-size: cover;
  vertical-align: middle;
}

section.block.block-layout-builder.block-field-blockparagraphhome-why-drupalcamp-is-for-youfield-title {
  color: #0a547b;
  font-size: 2em;
  text-align: center;
  margin: auto;
  padding: 0 1em;
}

section.block.block-layout-builder.block-field-blockparagraphhome-why-drupalcamp-is-for-youfield-body {
  color: #0d9fd9;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  padding: 0 1em;
}


/* Call To Action */
.call-to-action .col-sm-4 {
  background-color: white;
}

.call-to-action h3 {
  text-transform: capitalize;
  text-align: center;
  color: #D92B5A;
  margin: 0;
  line-height: 1.2;
}

.call-to-action img {
  width: 90%;
  margin: 0 auto;
  border: 5px dashed #0a547b;
  border-radius: 5px;
}

.call-to-action h4 {
  text-align: center;
}

.call-to-action .btn {
  position: relative;
  background: #D92B5A;
  font-size: 1.2em;
  color: white;
  bottom: 4em;
  max-width: 70%;
}



/* Hero Image */

.hero-block  {
	color: #353a44;
	background: rgba(255,255,255, 0.0) url("/themes/custom/dcm_manila_2020/images/drupalcamp-manila-2020-hero-img-left-new.jpg") center top no-repeat;
	background-size: 1170px;
	height: 720px;
	overflow: hidden;
	text-align: right;
}

div.container.hero  {
	background: rgba(255,255,255, 0.0) url("/themes/custom/dcm_manila_2020/images/triangle-bottom-colored.png") center bottom repeat-x;
	background-size: 420px;
	height: 720px;
	overflow: hidden;
}

.hero .row .col-1 {
	display: flex;
	flex-direction: column;
}

.hero-details-group {
	align-content: flex-end;
	align-self: flex-end;
	background: rgba(255,255,255, 0.3);
}

.main-header {
	min-width: 100%;
	margin-top: 0;
}

.main-header .drupalcamp {
	color: #59aee1;
	font-family: "Segoe UI" Arial Helvetica sans-serif;
	font-weight: 700;
}

.main-header .manila-2020 {
	color: #0a547b;
	font-family: "Segoe UI" Arial Helvetica sans-serif;
	font-weight: 700;
}

h3.hero.city {
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 0;
}

h3.hero.dates {
	letter-spacing: 1px;
	line-height: 1;
	margin-top: 5px;
    margin-bottom: 0;

}

h4.hero.venue {
	letter-spacing: 1px;
	line-height: 1;
	margin-top: 0;
    margin-bottom: 0;

}

.hero-block .btn {
  background: #D92B5A;
  font-size: 1.5em;
  color: white;
  flex: 1;
  margin: 10px auto;
}

.hero-block .hero .col-2 {
	overflow: hidden;
}

.hero-block .hero .col-2 img {
    margin: 0 auto;
    position: relative;
    height: auto;
    margin-top: 1em;
    left: 37px;
}

/* Font */

div, h1, h2, h3, h4, h5, h6, span, a, p {
  font-family: 'Baloo-Regular';
  font-style: normal;
  font-weight: 400;
}

