<div class="header-bgc-content">
  <div class="container join-now">
    <a href="/join-now"><img alt="Join now on Drupal Camp Manila 2020!" data-align="right" data-entity-type="file" data-entity-uuid="a79c43b2-bf9f-4edf-9c34-fea278ebb201" src="/sites/default/files/inline-images/banner-image-join-now.png" /> </a>
  </div>
  <div class="diamond-sponsors">
    <div class="container">
      <h2>Diamond Sponsors</h2>
      <div class="col-md-4"><img alt="Pantheon Logo -- Diamond Sponsor" data-align="center" data-entity-type="file" data-entity-uuid="82fdc135-45f5-4fd1-a674-c319bcd81636" src="/sites/default/files/inline-images/pantheon.png" /></div>
      <div class="col-md-4"><img alt="Acquia Logo -- Diamond Sponsor" data-align="center" data-entity-type="file" data-entity-uuid="40123989-a9a6-4c6a-8d3c-f0bb6b18704c" src="/sites/default/files/inline-images/acquia.png" />
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4"><img alt="Black Fire IO Logo -- Diamond Sponsor" data-align="center" data-entity-type="file" data-entity-uuid="ab049b90-2320-4ba8-a458-4dcf6f43ba7b" src="/sites/default/files/inline-images/blackfire.png" />
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
